/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  overflow-x: hidden;
}
* a {
  text-decoration: none;
}

.pc-nav {
  display: none;
}

.active .pc-nav {
  display: block !important;
}
.active .pc-nav ul {
  gap: 2rem;
}
.active .mode {
  height: 0;
  width: 0;
}

.mobile-nav {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav img {
  height: 40px;
  width: 40px;
}
.mobile-nav .hamburger {
  height: 3rem;
  width: 3rem;
  border: 1px solid black;
  gap: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav .hamburger .line {
  height: 2px;
  width: 70%;
  background: black;
}

.banner .container .row .left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.banner .container .row .left h2 {
  width: 100%;
  font-weight: bolder;
}
.banner .container .row .left h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
}
.banner .container .row .left button {
  background: black;
  color: white;
  border: none;
  padding: 20px;
  margin: 0;
  width: 9rem;
}
.banner .container .row .left button a {
  text-decoration: none;
  color: white;
}
.banner .container .row .right .image {
  margin-top: 20px;
}
.banner .container .row .right .icons {
  display: flex;
}
.banner .container .row .right .icons img {
  width: 120px;
  height: 120px;
}

.about {
  margin: 1rem;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.about .container .text .small-text {
  font-weight: 300;
}
.about .container .text .min-text {
  width: 100%;
}
.about .container .text .card {
  background: black;
  height: 100%;
  width: 100%;
}
.about .container .text .card .container .row {
  color: #fff;
}
.about .container .text .card .container .row .left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
  font-size: smaller;
  font-weight: 200;
  width: 100%;
}
.about .container .text .card .container .row .left .circle img {
  border-radius: 50%;
  border: 2px solid white;
  width: 100px;
  height: 100px;
}
.about .container .text .card .container .row .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 2rem;
}
.about .container .text .card .container .row .right .rectangle {
  background: white;
  width: 30vw;
  height: 7%;
}
.about .container .text .card .container .row .right .rectangle .small-rectangle {
  height: 100%;
  width: 24vw;
  background: gray;
}
.about .container .text .card .container .row .right .rectangle {
  background: white;
  width: 30vw;
  height: 7%;
}
.about .container .text .card .container .row .right .rectangle .next-rectangle {
  height: 100%;
  width: 20vw;
  background: gray;
}
.about .container .text .card .container .row .right .rectangle {
  background: white;
  width: 30vw;
  height: 7%;
}
.about .container .text .card .container .row .right .rectangle .min-rectangle {
  height: 100%;
  width: 23vw;
  background: gray;
}
.about .container .text .card .container .row .right .rectangle {
  background: white;
  width: 30vw;
  height: 7%;
}
.about .container .text .card .container .row .right .rectangle .last-rectangle {
  height: 100%;
  width: 25vw;
  background: gray;
}
.about .container .text .card .doc {
  display: flex;
  justify-content: center;
}
.about .container .text .card .doc button {
  background-color: black;
  color: white;
  width: 7rem;
  border: 2px solid white;
}

.services {
  margin: 1rem;
}
.services .container .row .left .large-text h3 {
  font-weight: bolder;
}
.services .container .row .left .med-text p {
  width: 100%;
}
.services .container .row .left .circle-container {
  padding-top: 3rem;
}
.services .container .row .left .circle-container .circle-one {
  background: black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.services .container .row .left .circle-container .circle-one .circle-two {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.services .container .row .left .circle-container .circle-one .circle-two img {
  width: 50px;
  height: 50px;
  rotate: -10deg;
}
.services .container .row .right .line {
  background: black;
  height: 1%;
}
.services .container .row .right button {
  width: 7rem;
  background: black;
  color: white;
  border: 5px solid white;
}
.services .container .row .right button a {
  color: white;
}
.services .container .row .right .line {
  margin-top: 10px;
}

.projects {
  margin-top: 2rem;
}
.projects .container .row .left h3 {
  font-weight: bolder;
}
.projects .container .row .left .line {
  background: black;
  height: 1%;
  margin-top: 2rem;
}
.projects .container .row .left h4 {
  font-style: italic;
  font-weight: 200;
  padding-top: 1rem;
}
.projects .container .row .left p {
  font-weight: 200;
}
.projects .container .row .left button {
  background: black;
  color: white;
  border: none;
}
.projects .container .row .left button a {
  text-decoration: none;
  color: white;
}
.projects .container .row .center .line {
  background: black;
  height: 1%;
  margin-top: 2rem;
}
.projects .container .row .center h4 {
  font-style: italic;
  font-weight: 200;
  padding-top: 1rem;
}
.projects .container .row .center p {
  font-weight: 200;
}
.projects .container .row .center button {
  background: black;
  color: white;
  border: none;
}
.projects .container .row .center button a {
  text-decoration: none;
  color: white;
}
.projects .container .row .end .line {
  background: black;
  height: 1%;
  margin-top: 1rem;
}
.projects .container .row .end h4 {
  font-style: italic;
  font-weight: 200;
  padding-top: 1rem;
}
.projects .container .row .end p {
  font-weight: 200;
}
.projects .container .row .end button {
  background: black;
  color: white;
  border: none;
}
.projects .container .row .end button a {
  text-decoration: none;
  color: white;
}

.contact {
  margin-top: 2rem;
}
.contact .container h3 {
  font-weight: bold;
}
.contact .container h3 span {
  text-decoration: underline;
}
.contact .container .card {
  background: black;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.contact .container .card .feature {
  display: flex;
  justify-content: center;
}
.contact .container .card .feature .julie-pic {
  border-radius: 50%;
  border: 2px solid white;
  width: 60px;
}
.contact .container .card .feature img {
  height: 40px;
  width: 40px;
}
.contact .container .card .feature p {
  color: white;
}
.contact .container .card .book {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .container .card .book img {
  width: 30px;
  height: 30px;
}
.contact .container .card .container {
  margin: 2rem;
}
.contact .container .card .container .row .left img {
  width: 40vw;
  height: 20vh;
}
.contact .container .card .right form {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
}
.contact .container .card .right label {
  display: block;
  margin-bottom: 5px;
  color: white;
}
.contact .container .card .right input[type=text],
.contact .container .card .right input[type=email] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}
.contact .container .card .right textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}
.contact .container .card .right button {
  background-color: gray;
  padding: 5px;
  color: white;
}
.contact .container .card .right button a {
  text-decoration: none;
  color: white;
}

.calling {
  flex-direction: column;
}
.calling .mail {
  display: flex;
}
.calling .ing {
  display: flex;
}
.calling p {
  width: 100% !important;
}

.footer {
  padding: 2rem;
  background: black;
  height: 20vh;
  margin-top: 2rem;
}
.footer .container .finale {
  display: flex;
  justify-content: baseline;
  align-items: last baseline;
  text-align: end;
}
.footer .container .finale p {
  color: white;
  gap: 5px;
  padding-right: 3rem;
}
.footer .container .finale img {
  height: 50px;
  width: 50px;
}
.footer .container .finale .gram {
  display: flex;
  gap: 5px;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .mobile-nav {
    display: none;
  }
  .pc-nav {
    display: block;
  }
  .pc-nav .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pc-nav .flex-container img {
    height: 40px;
    width: 40px;
  }
  .pc-nav .flex-container ul {
    display: flex;
    color: black;
    gap: 50px;
    text-decoration: none;
  }
  .pc-nav .flex-container ul li {
    color: black;
    font-size: 20px;
  }
  .pc-nav .flex-container ul li a {
    text-decoration: none;
  }
  .banner .container .row .left {
    padding-top: 5rem;
  }
  .banner .container .row .left h2 {
    width: 100%;
    font-weight: bolder;
  }
  .banner .container .row .left h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 100%;
  }
  .banner .container .row .left button {
    background: black;
    color: white;
    border: none;
  }
  .banner .container .row .right .image {
    margin-top: 20px;
  }
  .banner .container .row .right .icons {
    display: flex;
  }
  .about .container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .about .container .text .min-text {
    width: 70%;
    margin-left: 10rem;
  }
  .about .container .text .card {
    background: black;
    padding: 2rem;
    width: 70%;
    margin-left: 10rem;
  }
  .about .container .text .card .container .row {
    color: #fff;
  }
  .about .container .text .card .container .row .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    font-size: smaller;
    font-weight: 200;
    width: 100%;
  }
  .about .container .text .card .container .row .left .circle img {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    height: 100px;
  }
  .about .container .text .card .container .row .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2rem;
  }
  .about .container .text .card .container .row .right .rectangle {
    background: white;
    width: 30vw;
    height: 7%;
  }
  .about .container .text .card .container .row .right .rectangle .small-rectangle {
    height: 100%;
    width: 24vw;
    background: gray;
  }
  .about .container .text .card .container .row .right .rectangle {
    background: white;
    width: 30vw;
    height: 7%;
  }
  .about .container .text .card .container .row .right .rectangle .next-rectangle {
    height: 100%;
    width: 20vw;
    background: gray;
  }
  .about .container .text .card .container .row .right .rectangle {
    background: white;
    width: 30vw;
    height: 7%;
  }
  .about .container .text .card .container .row .right .rectangle .min-rectangle {
    height: 100%;
    width: 23vw;
    background: gray;
  }
  .about .container .text .card .container .row .right .rectangle {
    background: white;
    width: 30vw;
    height: 7%;
  }
  .about .container .text .card .container .row .right .rectangle .last-rectangle {
    height: 100%;
    width: 25vw;
    background: gray;
  }
  .services {
    margin: 5rem;
  }
  .services .container .row .left .large-text h3 {
    font-weight: bolder;
    width: 30%;
  }
  .services .container .row .left .med-text p {
    width: 80%;
  }
  .services .container .row .left .circle-container {
    padding-top: 5rem;
  }
  .services .container .row .left .circle-container .circle-one {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .services .container .row .left .circle-container .circle-one .circle-two {
    background: white;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .services .container .row .left .circle-container .circle-one .circle-two img {
    width: 50px;
    height: 50px;
    rotate: -10deg;
  }
  .services .container .row .right .line {
    background: black;
    height: 1%;
  }
  .services .container .row .right button {
    width: 7rem;
    background: black;
    color: white;
    border: 5px solid white;
  }
  .services .container .row .right .line {
    margin-top: 10px;
  }
  .projects {
    margin-top: 8rem;
  }
  .projects .container .row .left h3 {
    font-weight: bolder;
  }
  .projects .container .row .left .line {
    background: black;
    height: 1%;
    margin-top: 8rem;
  }
  .projects .container .row .left h4 {
    font-style: italic;
    font-weight: 200;
    padding-top: 1rem;
  }
  .projects .container .row .left p {
    font-weight: 200;
  }
  .projects .container .row .left button {
    background: black;
    color: white;
    border: none;
  }
  .projects .container .row .center .line {
    background: black;
    height: 1%;
    margin-top: 5rem;
  }
  .projects .container .row .center h4 {
    font-style: italic;
    font-weight: 200;
    padding-top: 1rem;
  }
  .projects .container .row .center p {
    font-weight: 200;
  }
  .projects .container .row .center button {
    background: black;
    color: white;
    border: none;
  }
  .projects .container .row .end .line {
    background: black;
    height: 1%;
  }
  .projects .container .row .end h4 {
    font-style: italic;
    font-weight: 200;
    padding-top: 1rem;
  }
  .projects .container .row .end p {
    font-weight: 200;
  }
  .projects .container .row .end button {
    background: black;
    color: white;
    border: none;
  }
  .contact {
    margin: 10rem;
  }
  .contact .container h3 {
    font-weight: bold;
  }
  .contact .container h3 span {
    text-decoration: underline;
  }
  .contact .container .card {
    background: black;
    padding: 2rem;
    width: 70%;
    margin-left: 10rem;
  }
  .contact .container .card .feature {
    display: flex;
    justify-content: center;
  }
  .contact .container .card .feature .julie-pic {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
    height: 100px;
  }
  .contact .container .card .feature img {
    height: 50px;
    width: 50px;
  }
  .contact .container .card .feature p {
    color: white;
  }
  .contact .container .card .feature .calling {
    flex-direction: column;
    gap: 0px;
  }
  .contact .container .card .book {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact .container .card .book img {
    width: 30px;
    height: 30px;
  }
  .contact .container .card .container {
    margin: 2rem;
  }
  .contact .container .card .container .row .left img {
    width: 20vw;
    height: 30vh;
  }
  .contact .container .card .right form {
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
  }
  .contact .container .card .right label {
    display: block;
    margin-bottom: 5px;
    color: white;
  }
  .contact .container .card .right input[type=text],
  .contact .container .card .right input[type=email] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
  }
  .contact .container .card .right textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  .contact .container .card .right button {
    background-color: gray;
    padding: 5px;
    color: white;
  }
  .footer {
    padding: 2rem;
    background: black;
    height: 20vh;
  }
  .footer .container .finale {
    display: flex;
    justify-content: baseline;
    align-items: last baseline;
    text-align: end;
  }
  .footer .container .finale p {
    color: white;
  }
  .footer .container .finale img {
    height: 50px;
    width: 50px;
  }
  .footer .container .finale .gram {
    padding-left: 30rem;
    gap: 5px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width *//*# sourceMappingURL=style.css.map */